/*global header*/
.navbar-fixed-top {
  background-color: green;
  z-index: 1000
}

/*global header right justified links*/
.navbar-right>li>a {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-right>li>a:hover {
    text-decoration: underline;
    background-color: green;
}

.autocomplete {
  z-index: 1001
}
